@import '~bootstrap/scss/bootstrap';
$alt-color: rgb(115, 80, 241);
$body-bg-color: rgb(255, 215, 0);
$font-color: $black;
$index-color: rgb(255, 215, 0);
$border-color: $black;

body {
  background-color: $body-bg-color;
  font-family: 'Share Tech Mono', monospace;
}

.alt-color {
  background-color: $alt-color;
}

.box1 {
  background-color: rgb(254, 232, 0);
  border: 5px solid $border-color;
  display: flex;
  height: 150px;
  border-radius: 10px;
}
//box2 and box4 contains the Stats ----decided I want to remove this. Will use in V2 possibly.
.box2 {
  background-color: rgb(254, 232, 0);
  border: 4px solid $black;
  border-radius: 10px;
  color: $font-color;
  display: flex;
  height: 400px;
  justify-content: center;
}

.box4 {
  background-color: rgb(254, 232, 0);
  border: 4px solid $black;
  border-radius: 10px;
  color: $font-color;
  display: flex;
  height: 400px;
  justify-content: center;
}

.box5 {
  align-items: center;
  background-color: rgb(255, 215, 0);
  border: 1px solid rgb(254, 179, 67);
  border-radius: 10px;
  color: $font-color;
  display: flex;
  height: 100px;
  justify-content: center;
}
.box6 {
  align-items: center;
  background-color: rgb(255, 215, 0);
  border: 1px solid rgb(254, 179, 67);
  border-radius: 10px;
  color: $font-color;
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  justify-content: center;
}

.btn-create-account, .btn-login-account{
    background-color: $black;
    border-color: black;
    width: 30%;
}

.start-game {
  justify-content: center;
}

.game-grid {
  align-items: center;
  background: $body-bg-color;
  background-color: $black;
  border: 10x solid $border-color;
  border-radius: 10px;
  color: $font-color;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  display: inline-grid;
  height: 400px;
}

.X{
    font-size: 30px;
    background-image: url('public/x-choice.png');
    background-repeat: no-repeat;
    background-position: center;
}

.o{
    font-size: 30px;
    color: black;
    background-image: url('public/o-choice.png');
    background-repeat: no-repeat;
    width: 70%;
    background-position: center;
}

.btn-change-password{
    background-color: $black;
    border-color: none;
    width: 200px;
}

.navbar-site{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.game-spots {
    border: 5px solid rgb(255, 215, 0);
    border-radius: 10px;
    height: calc(45vh / 3);
    font-size: calc(45vh / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px rgb(254, 179, 67);
    text-shadow: 2px 2px white;
    user-select: none;
    &:hover {
    background-color: rgb(255, 215, 0);
  }
}

h1 {
  text-align: center;
}

li.nav-item > a:hover{
  text-decoration: underline;
}
